@font-face {
    font-family: "robotoslab";
    src: url("../fonts/robotoslab-bold-webfont.woff2") format("woff2"),
         url("../fonts/robotoslab-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "robotoslab";
    src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2"),
         url("../fonts/robotoslab-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 100;
}


body {
  margin: 0;
  background-color: #8b0000;
  }

.max-width {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }

img {
  width: auto;
  max-width: 100%;
  height: auto;
}
  
h2{
color:#fcfbe3;
font-family: "robotoslab-bold", seriff;
margin: 0 2em;
line-height: 1.5;
padding-top: 1em;
}

p{
font-size: 1em;
font-family: "robotoslab-bold", seriff;
color:#fcfbe3;
margin: 0 2em;
line-height: 1.4;
padding-top: 1em;
}

span {
font-size: 1.5em;
}

figcaption{
font-size: 1em;
font-family: "robotoslab-bold", seriff;
color:#fcfbe3;
margin: 0 2em;
line-height: 1.4;
padding-top: 1em;
}

#banner {
  background-image: url("../img/wallpaper_color_r1.svg");
  background-repeat: repeat; /* repeat-x, repeat, no-repeat */
  background-position: left top;
  background-size: 50%; /* don't use unless your fall back image size is acceptable */
  padding: 10% 0 9%;
  }

#banner h1 {
  font-family: "robotoslab-bold", seriff;
  color: #fcfbe3;
  margin-top: 0;
  margin-bottom: 0;
  }
  
@media (min-width: 30em) {

h1 {

  font-size: 3em;
  }
  
h2 {
   font-size:2em;
   }

p{
font-size: 1.2em;
}

figcaption{
font-size: 1.2em;
}

#banner {
  padding: 10% 0 10%;
  }

}


@media (min-width: 48em) {

h1 {
  font-size: 4em;
  }
  
h2 {
   font-size:2.5em;
   }

p{
font-size: 1.4em;
}

figcaption{
font-size: 1.4em;
}

#banner {
  padding: 10% 0 11%;
  }
}

@media (min-width: 60em) {

h1 {
  font-size: 5em;
  }
  
h2 {
   font-size:3em;
   }

p{
font-size: 1.9em;
}

figcaption{
font-size: 1.9em;
}

.max-width {
  max-width: 80em;
  padding: 0 1em;
  margin: 0 auto;
  }

#banner {
  padding: 10% 0 12%;
  }
}

@media (min-width: 70em) {

#banner {
  padding: 10% 0 13%;
  }

h1 {
  font-size: 6em;
  }
  
}
@media (min-width: 80em) {

#banner {
  padding: 10% 0 14%;
  }
  
h1 {
  font-size: 7em;
  }

}
