body {
  margin: 0;
  background-color: #8b0000;
  }
  
h2{
color:#fff;
padding-top: 1em;
}
  
  p{
font:
font-size: 1em ;
font-family: "RobotoSlab-Bold",seriff;
color:#fff;
margin: 0 2em;
line-height: 1.5;
padding-top: 1em;
}

.max-width {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }

#banner {
  background-image: url("../img/wallpaper_color_r1.svg");
  background-repeat: repeat; /* repeat-x, repeat, no-repeat */
  background-position: left top;
  background-size: 50%; /* don't use unless your fall back image size is acceptable */
  padding: 10% 0 50%;
  }

#banner h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  }

@media (min-width: 48em) {

#banner h1 {
  font-size: 3.5em;
  }

}
